/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/README.md export-ignore
/LICENSE export-ignore
/CHANGELOG.md export-ignore
